<%= form_for @bet, :html => { :multipart => true } do |f| %>

  <p class="form-group">
    <%= f.label :bet_placed %><br>
    <%= f.text_field :bet_placed, class: 'form-control' %>
  </p>

  <p class="form-group">
    <%= f.label :game %><br>
    <%= f.text_field :game, class: 'form-control' %>
  </p>

  <p class="form-group">
    <%= f.label :date_of_bet %><br>
    <%= f.date_field :date_of_bet, class: 'form-control' %>
  </p>

  <p class="form-group">
    <%= f.label :units_placed %><br>
    <%= f.text_field :units_placed, class: 'form-control' %>
  </p>

  <p class="form-group">
    <%= f.label :odds %><br>
    <%= f.text_field :odds, class: 'form-control' %>
  </p>

  <p class="form-group">
    <%= f.label :profit_or_loss %><br>
    <%= f.text_field :profit_or_loss, class: 'form-control' %>
  </p>

  <p class="form-group">
    <div class="checkbox-inline">
      <%= f.check_box :resolved, class: 'checkbox' %>
      <%= f.label :resolved %>
    </div>
    <div class="checkbox-inline">
      <%= f.check_box :push, class: 'checkbox' %>
      <%= f.label :push %>
    </div>
  </p>

  <%= f.submit 'Update', class: 'btn btn-default' %>

<% end %>
