<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <br />
        <div class="well">
          <h1 class="no-top-margin text-center"><%= @bet.game %></h1>
          <% if @bet.sport == 1 %>
            <h3 class="text-center">Basketball</h3>
          <% elsif @bet.sport == 2 %>
            <h3 class="text-center">NRL</h3>
          <% elsif @bet.sport == 3 %>
            <h3 class="text-center">Super Rugby</h3>
          <% elsif @bet.sport == 4 %>
            <h3 class="text-center">AFL</h3>
          <% elsif @bet.sport == 5 %>
            <h3 class="text-center">eSports</h3>
          <% elsif @bet.sport == 6 %>
            <h3 class="text-center">Ice Hockey</h3>
          <% elsif @bet.sport == 7 %>
            <h3 class="text-center">Horse Racing</h3>
          <% elsif @bet.sport == 8 %>
            <h3 class="text-center">Tennis</h3>
          <% elsif @bet.sport == 9 %>
            <h3 class="text-center">NFL</h3>
          <% elsif @bet.sport == 10 %>
            <h3 class="text-center">Cricket</h3>
          <% end %>
          <ul class="list-unstyled list-group">
            <li class="list-group-item"><strong>Bet Placed:</strong> <%= @bet.bet_placed %></li>
            <li class="list-group-item"><strong>Bookmaker:</strong>
              <% if @bet.bookmaker == 1 %>
                Sportsbet
              <% elsif @bet.bookmaker == 2 %>
                William Hill
              <% elsif @bet.bookmaker == 3 %>
                CrownBet
              <% elsif @bet.bookmaker == 4 %>
                Unibet
              <% elsif @bet.bookmaker == 5 %>
                Centrebet
              <% elsif @bet.bookmaker == 6 %>
                UBet
              <% elsif @bet.bookmaker == 7 %>
                bet365
              <% elsif @bet.bookmaker == 8 %>
                TAB
              <% elsif @bet.bookmaker == 9 %>
                Pinnacle
              <% elsif @bet.bookmaker == 10 %>
                Ladbrokes
              <% elsif @bet.bookmaker == 11 %>
                Bookmaker
              <% elsif @bet.bookmaker == 12 %>
                MadBookie
              <% elsif @bet.bookmaker == 13 %>
                Luxbet
              <% end %>
            </li>
            <li class="list-group-item"><strong>Units Placed:</strong> <%= @bet.units_placed %></li>
            <li class="list-group-item"><strong>Date Of Game:</strong> <%= @bet.date_of_bet %></li>
            <li class="list-group-item"><strong>Odds:</strong> <%= @bet.odds %></li>
            <li class="list-group-item"><strong>Profit/Loss:</strong>
              <% if @bet.profit_or_loss > 0 %>
                <span class="label label-success">+<%=@bet.profit_or_loss%></span>
              <% elsif @bet.profit_or_loss == 0 %>
                <span class="label label-default"><%=@bet.profit_or_loss%></span>
              <% else %>
                <span class="label label-danger"><%=@bet.profit_or_loss%></span>
              <% end %>
            </li>
          </ul>
          <%= link_to "Back to Results", results_path, class: "btn btn-primary" %>
          <% if current_user.try(:admin?) %>
            <%= link_to "Edit", edit_bet_path(:id => @bet.id), class: "btn btn-primary" %>
            <%= link_to "Delete", bet_path, :method => :delete, class: 'btn btn-danger', data: {confirm: "Are you sure?"} %>
          <% end %>
        </div>
    </div>

  </div>
</div>
