<div class="row">
  <div class="col-md-12">
    <h2 class="blue-title text-center">Hey <%= current_user.email %></h2>

    <div class="col-md-8">
      <div class="well">
      <h4 class="text-center">Get started with Today's Tips</h4>
      <h5 class="text-center"><%= Date.today %></h5>
      <table class="table">
        <tr>
          <th>Game</th>
          <th>Bet Placed</th>
          <th>Units Placed</th>
          <th>Odds</th>
        </tr>
        <% for bet in @today_bets do %>
          <tr>
            <td><strong><%= link_to "#{bet.game}", bet_path(:id => bet.id)%></strong></td>
            <td><%= bet.bet_placed %></td>
            <td><%= bet.units_placed %></td>
            <td><%= bet.odds %></td>
          </tr>
        <% end %>
      </table>
      </div>
    </div>

    <div class="col-md-4">
      <div class="well text-center">
        <h4>This Month's Totals</h4>
        <% if @monthly_total > 0 %>
          <h1><span class="label label-success">+<%=@monthly_total%></span></h1>
        <% elsif @monthly_total == 0 %>
          <h1><span class="label label-default"><%=@monthly_total%></span></h1>
        <% else %>
          <h1><span class="label label-danger"><%=@monthly_total%></span></h1>
        <% end %>
        <%= link_to "#{Time.now.strftime('%B')} Results", results_by_year_and_month_path(:year => Time.now.year, :month => Time.now.month), class: 'btn btn-default btn-lg btn-block margin-top' %>
      </div>
    </div>

  </div>
</div>
