<div class="container">
  <div class="row">
    <h1>Analysis</h1>
    <ul class="list-unstyled">
      <li><strong>Under 3 Total Staked:</strong> <%= @hu3_total_staked %></li>
      <li><strong>Under 3 PnL:</strong> <%= @hu3_pnl %></li>
      <li><strong>3 to 7 Total Staked: </strong><%= @h3to7_total_staked %></li>
      <li><strong>3 to 7 PnL: </strong><%= @h3to7_pnl %></li>
      <li><strong>Over 7 Total Staked: </strong><%= @ho7_total_staked %></li>
      <li><strong>Over 7 PnL: </strong><%= @ho7_pnl %></li>
      <li><strong>(PLACE) Under 3 Total Staked: </strong><%= @hu3place_total_staked %></li>
      <li><strong>(PLACE) Under 3 PnL: </strong><%= @hu3place_pnl %></li>
      <li><strong>(WIN) Under 3 Total Staked: </strong><%= @hu3win_total_staked %></li>
      <li><strong>(WIN) Under 3 PnL: </strong><%= @hu3win_pnl %></li>
      <li><strong>(PLACE) Total Staked: </strong><%= @horse_place_total_staked %></li>
      <li><strong>(PLACE) PnL: </strong><%= @horse_place_pnl %></li>
    </ul>
  </div>
</div>
