<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Horse Analysis</h1>
    </div>


    <div class="col-md-8">
      <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Odds of Bets</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <h3>Under 3</h3>
            <h4>All</h4>
            <p>Total Staked: <%= @hu3_total_staked %></p>
            <p>PnL: <%= @hu3_pnl %></p>
            <h4>Place</h4>
            <p>Total Staked: <%= @hu3place_total_staked %></p>
            <p>PnL: <%= @hu3place_pnl %></p>
            <h4>Win</h4>
            <p>Total Staked: <%= @hu3win_total_staked %></p>
            <p>PnL: <%= @hu3win_pnl %></p>
          </div>
          <div class="col-md-4">
            <h3>Under 3-7</h3>
            <p>3 to 7 Total Staked: <%= @h3to7_total_staked %></p>
            <p>3 to 7 PnL: <%= @h3to7_pnl %></p>
          </div>
          <div class="col-md-4">
            <h3>Over 7</h3>
            <p>Over 7 Total Staked: <%= @ho7_total_staked %></p>
            <p>Over 7 PnL: <%= @ho7_pnl %></p>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Win</h3>
        </div>
        <div class="panel-body">
          <p><strong>Total Staked: </strong><%= @horse_place_total_staked %></p>
          <p><strong>PnL: </strong><%= @horse_place_pnl %></p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Place</h3>
        </div>
        <div class="panel-body">
          <p><strong>Total Staked: </strong><%= @horse_win_total_staked %></p>
          <p><strong>PnL: </strong><%= @horse_win_pnl %></p>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Meet Analysis</h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <td>
                  <b>Meet</b>
                </td>
                <td>
                  <b>Total Staked</b>
                </td>
                <td>
                  <b>PnL</b>
                </td>
                <td>
                  <b>ROI</b>
                </td>
              </tr>

              <tr>
                <td>
                  Pakenham
                </td>
                <td>
                  <%= @total_pakenham %>
                </td>
                <td>
                  <%= @pnl_pakenham %>
                </td>
                <td>
                  <%= @roi_pakenham %>%
                </td>
              </tr>

              <tr>
                <td>
                  Broome
                </td>
                <td>
                  <%= @total_broome %>
                </td>
                <td>
                  <%= @pnl_broome %>
                </td>
                <td>
                  <%= @roi_broome %>%
                </td>
              </tr>

              <tr>
                <td>
                  Geelong
                </td>
                <td>
                  <%= @total_geelong %>
                </td>
                <td>
                  <%= @pnl_geelong %>
                </td>
                <td>
                  <%= @roi_geelong %>%
                </td>
              </tr>

              <tr>
                <td>
                  Taree
                </td>
                <td>
                  <%= @total_taree %>
                </td>
                <td>
                  <%= @pnl_taree %>
                </td>
                <td>
                  <%= @roi_taree %>%
                </td>
              </tr>

              <tr>
                <td>
                  Murraybridge
                </td>
                <td>
                  <%= @total_murraybridge %>
                </td>
                <td>
                  <%= @pnl_murraybridge %>
                </td>
                <td>
                  <%= @roi_murraybridge %>%
                </td>
              </tr>

              <tr>
                <td>
                  Gosford
                </td>
                <td>
                  <%= @total_gosford %>
                </td>
                <td>
                  <%= @pnl_gosford %>
                </td>
                <td>
                  <%= @roi_gosford %>%
                </td>
              </tr>

              <tr>
                <td>
                  Moree
                </td>
                <td>
                  <%= @total_moree %>
                </td>
                <td>
                  <%= @pnl_moree %>
                </td>
                <td>
                  <%= @roi_moree %>%
                </td>
              </tr>

              <tr>
                <td>
                  Pinjarra
                </td>
                <td>
                  <%= @total_pinjarra %>
                </td>
                <td>
                  <%= @pnl_pinjarra %>
                </td>
                <td>
                  <%= @roi_pinjarra %>%
                </td>
              </tr>

              <tr>
                <td>
                  Rockhampton
                </td>
                <td>
                  <%= @total_rockhampton %>
                </td>
                <td>
                  <%= @pnl_rockhampton %>
                </td>
                <td>
                  <%= @roi_rockhampton %>%
                </td>
              </tr>

              <tr>
                <td>
                  Sale
                </td>
                <td>
                  <%= @total_sale %>
                </td>
                <td>
                  <%= @pnl_sale %>
                </td>
                <td>
                  <%= @roi_sale %>%
                </td>
              </tr>

              <tr>
                <td>
                  Belmont
                </td>
                <td>
                  <%= @total_belmont %>
                </td>
                <td>
                  <%= @pnl_belmont %>
                </td>
                <td>
                  <%= @roi_belmont %>%
                </td>
              </tr>

              <tr>
                <td>
                  Cessnock
                </td>
                <td>
                  <%= @total_cessnock %>
                </td>
                <td>
                  <%= @pnl_cessnock %>
                </td>
                <td>
                  <%= @roi_cessnock %>%
                </td>
              </tr>

              <tr>
                <td>
                  Dalby
                </td>
                <td>
                  <%= @total_dalby %>
                </td>
                <td>
                  <%= @pnl_dalby %>
                </td>
                <td>
                  <%= @roi_dalby %>%
                </td>
              </tr>

              <tr>
                <td>
                  Alice Springs
                </td>
                <td>
                  <%= @total_alicesprings %>
                </td>
                <td>
                  <%= @pnl_alicesprings %>
                </td>
                <td>
                  <%= @roi_alicesprings %>%
                </td>
              </tr>

              <tr>
                <td>
                  Grafton
                </td>
                <td>
                  <%= @total_grafton %>
                </td>
                <td>
                  <%= @pnl_grafton %>
                </td>
                <td>
                  <%= @roi_grafton %>%
                </td>
              </tr>

              <tr>
                <td>
                  Kalgoorlie
                </td>
                <td>
                  <%= @total_kalgoorlie %>
                </td>
                <td>
                  <%= @pnl_kalgoorlie %>
                </td>
                <td>
                  <%= @roi_kalgoorlie %>%
                </td>
              </tr>

              <tr>
                <td>
                  Wodonga
                </td>
                <td>
                  <%= @total_wodonga %>
                </td>
                <td>
                  <%= @pnl_wodonga %>
                </td>
                <td>
                  <%= @roi_wodonga %>%
                </td>
              </tr>

              <tr>
                <td>
                  Carnarvon
                </td>
                <td>
                  <%= @total_carnarvon %>
                </td>
                <td>
                  <%= @pnl_carnarvon %>
                </td>
                <td>
                  <%= @roi_carnarvon %>%
                </td>
              </tr>

              <tr>
                <td>
                  Caulfield
                </td>
                <td>
                  <%= @total_caulfield %>
                </td>
                <td>
                  <%= @pnl_caulfield %>
                </td>
                <td>
                  <%= @roi_caulfield %>%
                </td>
              </tr>

              <tr>
                <td>
                  Darwin
                </td>
                <td>
                  <%= @total_darwin %>
                </td>
                <td>
                  <%= @pnl_darwin %>
                </td>
                <td>
                  <%= @roi_darwin %>%
                </td>
              </tr>

              <tr>
                <td>
                  Eagle Farm
                </td>
                <td>
                  <%= @total_eaglefarm %>
                </td>
                <td>
                  <%= @pnl_eaglefarm %>
                </td>
                <td>
                  <%= @roi_eaglefarm %>%
                </td>
              </tr>

              <tr>
                <td>
                  Echuca
                </td>
                <td>
                  <%= @total_echuca %>
                </td>
                <td>
                  <%= @pnl_echuca %>
                </td>
                <td>
                  <%= @roi_echuca %>%
                </td>
              </tr>

              <tr>
                <td>
                  Gawler
                </td>
                <td>
                  <%= @total_gawler %>
                </td>
                <td>
                  <%= @pnl_gawler %>
                </td>
                <td>
                  <%= @roi_gawler %>%
                </td>
              </tr>

              <tr>
                <td>
                  Kembla
                </td>
                <td>
                  <%= @total_kembla %>
                </td>
                <td>
                  <%= @pnl_kembla %>
                </td>
                <td>
                  <%= @roi_kembla %>%
                </td>
              </tr>

              <tr>
                <td>
                  Rosehill
                </td>
                <td>
                  <%= @total_rosehill %>
                </td>
                <td>
                  <%= @pnl_rosehill %>
                </td>
                <td>
                  <%= @roi_rosehill %>%
                </td>
              </tr>

              <tr>
                <td>
                  Townsville
                </td>
                <td>
                  <%= @total_townsville %>
                </td>
                <td>
                  <%= @pnl_townsville %>
                </td>
                <td>
                  <%= @roi_townsville %>%
                </td>
              </tr>

              <tr>
                <td>
                  Tuncurry
                </td>
                <td>
                  <%= @total_tuncurry %>
                </td>
                <td>
                  <%= @pnl_tuncurry %>
                </td>
                <td>
                  <%= @roi_tuncurry %>%
                </td>
              </tr>

              <tr>
                <td>
                  Cranbourne
                </td>
                <td>
                  <%= @total_cranbourne %>
                </td>
                <td>
                  <%= @pnl_cranbourne %>
                </td>
                <td>
                  <%= @roi_cranbourne %>%
                </td>
              </tr>

              <tr>
                <td>
                  Northam
                </td>
                <td>
                  <%= @total_northam %>
                </td>
                <td>
                  <%= @pnl_northam %>
                </td>
                <td>
                  <%= @roi_northam %>%
                </td>
              </tr>

              <tr>
                <td>
                  Devonport
                </td>
                <td>
                  <%= @total_devonport %>
                </td>
                <td>
                  <%= @pnl_devonport %>
                </td>
                <td>
                  <%= @roi_devonport %>%
                </td>
              </tr>

              <tr>
                <td>
                  Doomben
                </td>
                <td>
                  <%= @total_doomben %>
                </td>
                <td>
                  <%= @pnl_doomben %>
                </td>
                <td>
                  <%= @roi_doomben %>%
                </td>
              </tr>

              <tr>
                <td>
                  Flemington
                </td>
                <td>
                  <%= @total_flemington %>
                </td>
                <td>
                  <%= @pnl_flemington %>
                </td>
                <td>
                  <%= @roi_flemington %>%
                </td>
              </tr>

              <tr>
                <td>
                  Goldcoast
                </td>
                <td>
                  <%= @total_goldcoast %>
                </td>
                <td>
                  <%= @pnl_goldcoast %>
                </td>
                <td>
                  <%= @roi_goldcoast %>%
                </td>
              </tr>

              <tr>
                <td>
                  Morphettville
                </td>
                <td>
                  <%= @total_morphettville %>
                </td>
                <td>
                  <%= @pnl_morphettville %>
                </td>
                <td>
                  <%= @roi_morphettville %>%
                </td>
              </tr>

              <tr>
                <td>
                  Randwick
                </td>
                <td>
                  <%= @total_randwick %>
                </td>
                <td>
                  <%= @pnl_randwick %>
                </td>
                <td>
                  <%= @roi_randwick %>%
                </td>
              </tr>

              <tr>
                <td>
                  Ipswich
                </td>
                <td>
                  <%= @total_ipswich %>
                </td>
                <td>
                  <%= @pnl_ipswich %>
                </td>
                <td>
                  <%= @roi_ipswich %>%
                </td>
              </tr>

              <tr>
                <td>
                  Scone
                </td>
                <td>
                  <%= @total_scone %>
                </td>
                <td>
                  <%= @pnl_scone %>
                </td>
                <td>
                  <%= @roi_scone %>%
                </td>
              </tr>

              <tr>
                <td>
                  Hawkesbury
                </td>
                <td>
                  <%= @total_hawkesbury %>
                </td>
                <td>
                  <%= @pnl_hawkesbury %>
                </td>
                <td>
                  <%= @roi_hawkesbury %>%
                </td>
              </tr>

              <tr>
                <td>
                  Mackay
                </td>
                <td>
                  <%= @total_mackay %>
                </td>
                <td>
                  <%= @pnl_mackay %>
                </td>
                <td>
                  <%= @roi_mackay %>%
                </td>
              </tr>

              <tr>
                <td>
                  Canterbury
                </td>
                <td>
                  <%= @total_canterbury %>
                </td>
                <td>
                  <%= @pnl_canterbury %>
                </td>
                <td>
                  <%= @roi_canterbury %>%
                </td>
              </tr>

              <tr>
                <td>
                  Sandown
                </td>
                <td>
                  <%= @total_sandown %>
                </td>
                <td>
                  <%= @pnl_sandown %>
                </td>
                <td>
                  <%= @roi_sandown %>%
                </td>
              </tr>

              <tr>
                <td>
                  Corowa
                </td>
                <td>
                  <%= @total_corowa %>
                </td>
                <td>
                  <%= @pnl_corowa %>
                </td>
                <td>
                  <%= @roi_corowa %>%
                </td>
              </tr>

              <tr>
                <td>
                  Kembla
                </td>
                <td>
                  <%= @total_kembla %>
                </td>
                <td>
                  <%= @pnl_kembla %>
                </td>
                <td>
                  <%= @roi_kembla %>%
                </td>
              </tr>

              <tr>
                <td>
                  Mildura
                </td>
                <td>
                  <%= @total_mildura %>
                </td>
                <td>
                  <%= @pnl_mildura %>
                </td>
                <td>
                  <%= @roi_mildura %>%
                </td>
              </tr>

              <tr>
                <td>
                  Bordertown
                </td>
                <td>
                  <%= @total_bordertown %>
                </td>
                <td>
                  <%= @pnl_bordertown %>
                </td>
                <td>
                  <%= @roi_bordertown %>%
                </td>
              </tr>

              <tr>
                <td>
                  Casterton
                </td>
                <td>
                  <%= @total_casterton %>
                </td>
                <td>
                  <%= @pnl_casterton %>
                </td>
                <td>
                  <%= @roi_casterton %>%
                </td>
              </tr>

              <tr>
                <td>
                  Launceston
                </td>
                <td>
                  <%= @total_launceston %>
                </td>
                <td>
                  <%= @pnl_launceston %>
                </td>
                <td>
                  <%= @roi_launceston %>%
                </td>
              </tr>

              <tr>
                <td>
                  Mudgee
                </td>
                <td>
                  <%= @total_mudgee %>
                </td>
                <td>
                  <%= @pnl_mudgee %>
                </td>
                <td>
                  <%= @roi_mudgee %>%
                </td>
              </tr>

              <tr>
                <td>
                  Sapphire Coast
                </td>
                <td>
                  <%= @total_sapphirecoast %>
                </td>
                <td>
                  <%= @pnl_sapphirecoast %>
                </td>
                <td>
                  <%= @roi_sapphirecoast %>%
                </td>
              </tr>

              <tr>
                <td>
                  Donald
                </td>
                <td>
                  <%= @total_donald %>
                </td>
                <td>
                  <%= @pnl_donald %>
                </td>
                <td>
                  <%= @roi_donald %>%
                </td>
              </tr>

              <tr>
                <td>
                  Muswellbrook
                </td>
                <td>
                  <%= @total_muswellbrook %>
                </td>
                <td>
                  <%= @pnl_muswellbrook %>
                </td>
                <td>
                  <%= @roi_muswellbrook %>%
                </td>
              </tr>

              <tr>
                <td>
                  Wyong
                </td>
                <td>
                  <%= @total_wyong %>
                </td>
                <td>
                  <%= @pnl_wyong %>
                </td>
                <td>
                  <%= @roi_wyong %>%
                </td>
              </tr>

              <tr>
                <td>
                  Bendigo
                </td>
                <td>
                  <%= @total_bendigo %>
                </td>
                <td>
                  <%= @pnl_bendigo %>
                </td>
                <td>
                  <%= @roi_bendigo %>%
                </td>
              </tr>

              <tr>
                <td>
                  Goulburn
                </td>
                <td>
                  <%= @total_goulburn %>
                </td>
                <td>
                  <%= @pnl_goulburn %>
                </td>
                <td>
                  <%= @roi_goulburn %>%
                </td>
              </tr>

              <tr>
                <td>
                  Nowra
                </td>
                <td>
                  <%= @total_nowra %>
                </td>
                <td>
                  <%= @pnl_nowra %>
                </td>
                <td>
                  <%= @roi_nowra %>%
                </td>
              </tr>

              <tr>
                <td>
                  Warwick Farm
                </td>
                <td>
                  <%= @total_warwickfarm %>
                </td>
                <td>
                  <%= @pnl_warwickfarm %>
                </td>
                <td>
                  <%= @roi_warwickfarm %>%
                </td>
              </tr>

              <tr>
                <td>
                  Wagga
                </td>
                <td>
                  <%= @total_wagga %>
                </td>
                <td>
                  <%= @pnl_wagga%>
                </td>
                <td>
                  <%= @roi_wagga %>%
                </td>
              </tr>

              <tr>
                <td>
                  Coleraine
                </td>
                <td>
                  <%= @total_coleraine %>
                </td>
                <td>
                  <%= @pnl_coleraine %>
                </td>
                <td>
                  <%= @roi_coleraine %>%
                </td>
              </tr>

              <tr>
                <td>
                  Murwillumbah
                </td>
                <td>
                  <%= @total_murwillumbah %>
                </td>
                <td>
                  <%= @pnl_murwillumbah %>
                </td>
                <td>
                  <%= @roi_murwillumbah %>%
                </td>
              </tr>

              <tr>
                <td>
                  Port Augusta
                </td>
                <td>
                  <%= @total_portaugusta %>
                </td>
                <td>
                  <%= @pnl_portaugusta %>
                </td>
                <td>
                  <%= @roi_portaugusta %>%
                </td>
              </tr>

              <tr>
                <td>
                  Beaudesert
                </td>
                <td>
                  <%= @total_beaudesert %>
                </td>
                <td>
                  <%= @pnl_beaudesert %>
                </td>
                <td>
                  <%= @roi_beaudesert %>%
                </td>
              </tr>

              <tr>
                <td>
                  Moe
                </td>
                <td>
                  <%= @total_moe %>
                </td>
                <td>
                  <%= @pnl_moe %>
                </td>
                <td>
                  <%= @roi_moe %>%
                </td>
              </tr>

              <tr>
                <td>
                  Coffs Harbour
                </td>
                <td>
                  <%= @total_coffsharbour %>
                </td>
                <td>
                  <%= @pnl_coffsharbour %>
                </td>
                <td>
                  <%= @roi_coffsharbour %>%
                </td>
              </tr>

              <tr>
                <td>
                  Newcastle
                </td>
                <td>
                  <%= @total_newcastle %>
                </td>
                <td>
                  <%= @pnl_newcastle %>
                </td>
                <td>
                  <%= @roi_newcastle %>%
                </td>
              </tr>

              <tr>
                <td>
                  Hamilton
                </td>
                <td>
                  <%= @total_hamilton %>
                </td>
                <td>
                  <%= @pnl_hamilton %>
                </td>
                <td>
                  <%= @roi_hamilton %>%
                </td>
              </tr>

              <tr>
                <td>
                  Naracoorte
                </td>
                <td>
                  <%= @total_naracoorte %>
                </td>
                <td>
                  <%= @pnl_naracoorte %>
                </td>
                <td>
                  <%= @roi_naracoorte %>%
                </td>
              </tr>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
