<div class="container">
  <div class="row">
    <div class="page-header">
      <% @bets_by_month.each do |month, bets| %>
        <h1><%= month.strftime('%B') %> <%= month.strftime('%Y') %></h1>
      <% end %>
    </div>
    <div class="col-md-9">
      <div class="jumbotron margin-top">
        <% if @totals > 0 %>
          <h3>Total Profit/Loss: <span class="label label-success"><%= @totals %></span></h3>
        <% else %>
          <h3>Total Profit/Loss: <span class="label label-danger"><%= @totals %></span></h3>
        <% end %>
      </div>

      <h2>More Info</h2>
      <ul class="list-group">
      <% @bets_by_day.each do |day, bets| %>
        <li class="list-group-item">
          <%= link_to results_by_year_and_month_and_day_path(:year=> day.strftime('%Y'), :month => day.strftime('%-m'), :day => day.strftime('%d')) do %>
            <%= day.strftime('%d')%> <%= day.strftime('%B')%> <%= day.strftime('%Y')%>
          <% end %>
        </li>
      <% end %>
      </ul>

    </div>

    <div class="col-md-3">
      <%= render 'archive' %>
    </div>
  </div>
</div>
