<div class="container">
  <div class="row">
    <div class="page-header">
      <% @bets_by_month.each do |month, bets| %>
        <h1><%= month.strftime('%B') %> <%= month.strftime('%Y') %></h1>
      <% end %>
    </div>
    <div class="col-md-9">
      <div class="jumbotron margin-top">
        <% if @monthly_total > 0 %>
          <h3>Total Profit/Loss: <span class="label label-success"><%= @monthly_total %></span></h3>
        <% else %>
          <h3>Total Profit/Loss: <span class="label label-danger"><%= @monthly_total %></span></h3>
        <% end %>
        <%= area_chart @this_month_bets.group_by_day(:date_of_bet).order("day asc").sum(:profit_or_loss).map { |x,y| { x => (@sum += y)} }.reduce({}, :merge) %>
        <%= @this_month_bets %>
      </div>

      <h2>More Info</h2>

        <table class="table">
          <tr>
            <th>Day</th>
            <th>Number of Bets</th>
            <th>Profit/Loss</th>
          </tr>
          <% @bets_by_day.each do |day, bets| %>
            <tr>
              <td><strong><%= link_to results_by_year_and_month_and_day_path(:year=> day.strftime('%Y'), :month => day.strftime('%-m'), :day => day.strftime('%d')) do %>
                <%= day.strftime('%d')%> <%= day.strftime('%B')%> <%= day.strftime('%Y')%>
              <% end %></strong></td>
              <td><%= bets.count %></td>
              <td>
                <% @daily_total = 0 %>
                <% for bet in bets do %>
                  <% if bet.profit_or_loss > -100 && bet.profit_or_loss < 100 %>
                    <% @daily_total += bet.profit_or_loss %>
                  <% end %>
                <% end %>

                <% if @daily_total > 0 %>
                  <span class="label label-success"><%= @daily_total %></span>
                <% elsif @daily_total == 0 %>
                  <span class="label label-default"><%= @daily_total %></span>
                <% else %>
                  <span class="label label-danger"><%= @daily_total %></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
    </div>

    <div class="col-md-3">
      <%= render 'archive' %>
    </div>
  </div>
</div>
