<div class="container">
  <div class="row">
    <div class="col-md-9">


      <div class="jumbotron">
        <h2>This Month's Stats</h2>

        <% @bets_by_month.each do |month, bets| %>
          <h2><%= month.strftime('%B') %> <%= month.strftime('%Y') %></h2>
        <% end %>


      </div>

      <ul class="list-group">
      <% @bets_by_day.each do |day, bets| %>
        <li class="list-group-item">
          <%= link_to results_by_year_and_month_and_day_path(:year=> day.strftime('%Y'), :month => day.strftime('%-m'), :day => day.strftime('%d')) do %>
            <%= day.strftime('%d')%> <%= day.strftime('%B')%> <%= day.strftime('%Y')%>
          <% end %>
        </li>
      <% end %>
      </ul>

    </div>

    <div class="col-md-3">
      <%= render 'archive' %>
    </div>
  </div>
</div>
