<div class="container">
  <div class="row">
    <div class="col-md-9">
      <% @bets_by_month.each do |month, bets| %>
        <h2><%= month.strftime('%B') %> <%= month.strftime('%Y') %></h2>
        <ul class="list-group">
        <% for bet in bets %>
          <li class="list-group-item">
            <strong><%= link_to "#{bet.game} ", bet_path(:id => bet.id) %></strong>
            <br />
            <%= bet.created_at.strftime('%d/%m/%Y') %>
          </li>
        <% end %>
        </ul>
      <% end %>


    </div>
    <div class="col-md-3">
      <%= render "archive" %>
    </div>
  </div>
</div>
