<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Results</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Statistics</h3>
        </div>
        <div class="row text-center panel-body">
          <div class="col-sm-3">
            <% if @total > 0 %>
              <h4>Total Profit/Loss</h4>
              <h3><span class="label label-success"><%= @total %></span></h3>
            <% else %>
            <h4>Total Profit/Loss</h4>
            <h3><span class="label label-danger"><%= @total %></span></h3>
            <% end %>
          </div>
          <div class="col-sm-3">
            <h4>Units Staked</h4>
            <h3><span class="label label-default"><%= @total_units %></span></h3>
          </div>
          <div class="col-sm-3">
            <h4>Units Returned</h4>
            <h3><span class="label label-default"><%= @units_returned %></span></h3>
          </div>
          <div class="col-sm-3">
            <h4>ROI</h4>
            <h3><span class="label label-default"><%= @return_on_investment %>%</span></h3>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= area_chart @bets.group_by_day(:created_at).sum(:profit_or_loss).map { |x,y| { x => (@sum += y)} }.reduce({}, :merge), xtitle: "Date", ytitle: "Units", colors: ["337ab7", "#000"], label: "Units:", id: "result-graph", height: "400px", library: {backgroundColor: "fff"}  %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <%= render 'archive' %>
    </div>
  </div>
  <h2 class="page-header text-center">Understanding the Results</h2>
  <div class="row text-center">

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Reading the Results</h3>
        </div>
        <div class="panel-body">
          <h1><i class="fa fa-question fa-2x"></i><i class="fa fa-question fa-4x"></i><i class="fa fa-question fa-2x"></i></h1>
          <p>At Punt Squad we provide a database of statistics and information to log our bets and display them in a manner that makes it easy for you to follow our progress. Our results are measured in terms of the number of units we place on games and then the number of units returned.</p>
          <p>You can sort through the archives and look at statistics from individual months or days.</p>
          <p>If you want a more detailed analysis of our betting and results, take a look at our <%= link_to "Blog", "" %>. We provide weekly updates on the units we place in order to further explain outcomes.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>What is ROI?</h3>
        </div>
        <div class="panel-body">
          <h1><i class="fa fa-percent fa-4x"></i></h1>
          <p>The best indication of long-term success is the Return on Investment or ROI. This common performance measure is used to evaluate the efficiency of our tips.</p>
          <p>To Calculate ROI we use the formula: </p>
          <p>ROI = net profit / cost of investment</p>
          <p>What this means is that for every Unit you are placing down, the ROI is the percentage profit you are making over a long period of time.</p>
        </div>
      </div>
    </div>
  </div>
</div>
