<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Results</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Statistics</h3>
        </div>
        <div class="row text-center panel-body">
          <div class="col-sm-3">
            <% if @total > 0 %>
              <h4>Total Profit/Loss</h4>
              <h3><span class="label label-success"><%= @total %></span></h3>
            <% else %>
            <h4>Total Profit/Loss</h4>
            <h3><span class="label label-danger"><%= @total %></span></h3>
            <% end %>
          </div>
          <div class="col-sm-3">
            <h4>Units Staked</h4>
            <h3><span class="label label-default"><%= @total_units %></span></h3>
          </div>
          <div class="col-sm-3">
            <h4>Units Returned</h4>
            <h3><span class="label label-default"><%= @units_returned %></span></h3>
          </div>
          <div class="col-sm-3">
            <h4>ROI</h4>
            <h3><span class="label label-default"><%= @return_on_investment %>%</span></h3>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= area_chart @bets.group_by_day(:date_of_bet).order("day asc").sum(:profit_or_loss).map { |x,y| { x => (@sum += y)} }.reduce({}, :merge), xtitle: "Date", ytitle: "Units", colors: ["337ab7", "#000"], label: "Units:", id: "result-graph", height: "400px", library: {backgroundColor: "fff"}  %>
        </div>
        <div class="panel-footer">
          <h5>Understanding the Results</h5>
          <p>
            If you want to learn more about what these results mean and how ROI is calculated take a look at our comprehensive <%= link_to bettingguide_path do %> Betting Explained Guide<% end %>.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <%= render 'archive' %>
    </div>
  </div>
</div>
