<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="panel panel-default panel-top">
            <div class="panel-heading text-center">
              <%= image_tag("logo-dark-text.png", style: "max-width: 60%; margin: 0 auto;") %>
            </div>
            <div class="panel-body">
              <h3>Hi, <%= @user.email %></h3>
              <p>
                This email was sent to notify you that the bets from <%= "#{ @name }" %> for <%= Date.today %> are now available and ready to be placed. Click <a href="http://www.puntsquad.com">here</a> for more.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
