<div class="container">
  <br/>
  <div class="well">
    <div class="row text-center">
      <h1>Your subscription was successful!</h1>
      <h4>Thank you so much for subscribing. An email has been sent to you confirming your purchase.</h4>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="invoice">
          <h4>Invoice</h4>
          <ul>
            <li><b>Plan</b>: <%= @response["transaction_subject"] %></li>
            <li><b>Price</b>: $<%= @response["mc_gross"] %></li>
            <li><b>Full Name</b>: <%= @response["first_name"] %> <%= @response["last_name"] %></li>
            <li><b>Email</b>: <%= @response["payer_email"] %></li>
            <li><b>Payment Status</b>: <%= @response["payment_status"] %></li>
            <li><b>PayPal Transaction ID</b>: <%= @response["txn_id"] %></li>
            <li><b>Date of Transaction</b>: <%= Time.now.strftime("%d/%m/%Y") %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <%= link_to "Get Started", root_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>
