<%= form_for @post do |f| %>
  <p class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </p>

  <p class="form-group">
    <%= f.label "Body" %><br>
    <%= f.text_area :text, class: "form-control", rows: 15 %>
  </p>

  <p class="form-group">
    <%= f.label "Hero Background" %><br>
    <%= f.file_field :herobg %>
  </p>

  <p class="form-group">
    <%= f.submit 'Submit', class: 'btn btn-default btn-lg' %>
  </p>
<% end %>
