<header class="intro-header" style="background-image: url('<%= @post.herobg.url %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1><%= @post.title %></h1>
                    <hr class="small">
                    <span class="subheading"><%= @post.created_at.strftime('%d %B, %Y') %></span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <%= markdown(@post.text) %>
      <% if current_user.try(:admin?) %>
        <%= link_to "Edit", edit_post_path(:id => @post.id), class: 'btn btn-default' %>
        <%= link_to "Delete", post_path(:id => @post.id), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
</div>
