<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="panel panel-default panel-top">
            <div class="panel-heading text-center email">
              <%= image_tag("logo-grey-text.png", style: "max-width: 60%; margin: 0 auto;") %>
            </div>
            <div class="panel-body">
              <h3>Hey <%= @email %>!</h3>
              <p>
                We're excited that you've chosen to join us in our punting journey, welcome to the team! Now we know you're excited as well, and you must have a lot of questions for us. Before you fire off any of those questions to our staff, make sure you take a looking at our <%= link_to bettingguide_path do %>comprehensive betting guide first<% end %>.
              </p>
              <p>Once you've done that, you can confirm your account email through the link below:</p>
              <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
              <p>
                Enjoy! 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
