<!DOCTYPE html>
<html>
<head>
  <title>Punt Squad</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://js.stripe.com/v2/", type: 'text/javascript' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "puntsquad", root_path, class: 'navbar-brand' %>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">About Us</a></li>
            <li><%= link_to 'Results', results_path %></li>
            <% if current_user %>
              <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Sign In', new_user_session_path, method: :get %></li>
            <% end %>
            <% if current_user.try(:admin?) %>
              <li><%= link_to 'New Bet', new_bet_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <% flash.each do |key,value| %>
      <%= content_tag :div, value, class: "alert alert-#{key}" %>
    <% end %>
    <%= yield %>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-2 text-center">

          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-3">
            <h4>Contact Us</h4>
            <p>Feel free to send us an email or give us a call if you want more information on our services or just want to have a chat.</p>
            <ul class="list-unstyled">
              <li>Email: contact@puntsquad.com</li>
              <li>Phone: XXXX-XXXX</li>
            </ul>
            <br />
            <h4>Social Media</h4>
            <ul class="list-unstyled social-media">
            <li><%= link_to "http://www.facebook.com", class: 'social-icon' do%>
              <i class="fa fa-facebook fa-lg fa-4x"></i>
            <% end %></li>

            <li><%= link_to "http://www.twitter.com", class: 'social-icon' do%>
              <i class="fa fa-twitter fa-lg fa-4x"></i>
            <% end %></li>
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-4">
            <h4>Send Us a Message</h4>
            <%= form_for @contact do |f| %>
              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :comments %>
                <%= f.text_area :comments, class: 'form-control' %>
              </div>
              <%= f.submit 'Submit', class: 'btn btn-default' %>
            <% end %>

          </div>
        </div>
      </div>
    </div>

</body>
</html>
